HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### class 
/src/main/java/com/alinfo5/projetgit/ClassFedi.java
/src/main/java/com/alinfo5/projetgit/ClassAdem.java
/src/main/java/com/alinfo5/projetgit/Classahmed.java
/src/main/java/com/alinfo5/projetgit/classeAmine.java
/src/main/java/com/alinfo5/projetgit/ClassMohamed.java
/src/main/java/com/alinfo5/projetgit/ClassFedi.java

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
